@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="mt-2"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-users"></i> Usuarios Registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="Open_Form_Modal(null)">Insertar Usuario <i
                        class="fa-solid fa-plus"></i></button>
            </div>
        </div>

        <hr />

        <table id="Table_Usuario" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>Rol:</th>
                    <th>Nombres:</th>
                    <th>Apellidos:</th>
                    <th>E-Mail:</th>
                    <th>Imagen:</th>
                    <th>Operaciones:</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--Vertically Centered Modal-->
<div class="modal fade" id="Form_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Usuario</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!----><input id="ID_Usuario" type="hidden" value="0" /><!---->
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="Rol_Usuario" class="form-label">Rol:</label>
                        <select class="form-select" id="Rol_Usuario" aria-label="Default select example">
                            <option value="0" selected disabled>Seleccionar</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Empleado">Empleado</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="Nombre_Usuario" class="form-label">Nombres:</label>
                        <input type="text" class="form-control" id="Nombre_Usuario" placeholder="Nombres"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="Apellido_Usuario" class="form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="Apellido_Usuario" placeholder="Apellidos"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="E_Mail_Usuario" class="form-label">E-Mail:</label>
                        <input type="email" class="form-control" id="E_Mail_Usuario" placeholder="E-Mail"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-12 d-flex flex-column align-items-center gap-2">
                        <img id="Imagen_Usuario" style="width: 200px; height: 200px;"
                            class="border rounded mx-auto d-block img-fluid">
                        <input type="file" class="form-control" id="Imagen_Usuario_Input"
                            accept="image/png, image/jpg, image/jpeg" onchange="Show_User_Image(this)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Procesar()">Procesar</button>
            </div>
        </div>
    </div>
</div>
<!--Vertically Centered Modal-->
@section Java_Script {
    <script>
        var Table_Usuario;
        var Selected_Row;

        function Show_User_Image(input) {
            if (input.files) {
                var Reader = new FileReader();
                Reader.onload = function (event) {
                    $("#Imagen_Usuario").attr("src", event.target.result);
                };
                Reader.readAsDataURL(input.files[0]);
            }
        }

        /**
         * *jQuery.ajax({
         * *    url: "https://localhost:7050/Staff/Staff_Controller_Usuario_Listar",
         * *    type: "GET",
         * *    dataType: "json",
         * *    contentType: "application/json; charset=UTF-8",
         * *    success: function (data) {
         * *        console.log(data); // ? Good 'console.log'
         * *    }
         * *});
         */
        Table_Usuario = $("#Table_Usuario").DataTable({
            responsive: true,
            ordering: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json",
            },
            ajax: {
                url: "https://localhost:7050/Staff/Staff_Controller_Usuario_Listar",
                type: "GET",
                dataType: "json",
            },
            columns: [
                { data: "iD_Usuario" },
                // ! {"data": "object_ID_Tipo_Usuario.nombre_Tipo_Usuario"},
                {
                    data: "object_ID_Tipo_Usuario.nombre_Tipo_Usuario",
                    render: function (nombre_Tipo_Usuario) {
                        if (nombre_Tipo_Usuario == "Administrador") {
                            return '<span class="badge text-bg-success">Administrador</span>';
                        } else {
                            if (nombre_Tipo_Usuario == "Empleado") {
                                return '<span class="badge text-bg-danger">Empleado</span>';
                            }
                        }
                    },
                },
                { data: "nombre_Usuario" },
                { data: "apellido_Usuario" },
                { data: "e_Mail_Usuario" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return (
                            '<img style="witdh: 50px; height: 50px;" src="../../User_Images/' +
                            row.nombre_Imagen_Usuario +
                            '" alt="Image_Error" class="border rounded img-fluid">'
                        );
                    },
                },
                {
                    defaultContent:
                        '<button type="button" class="btn btn-primary btn-sm Edit_Button"><i class="fa-solid fa-pencil"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 Delete_Button"><i class="fa-solid fa-trash"></i></i></button>',
                    orderable: false,
                    searchable: false,
                    width: "90px",
                },
            ],
        });

        function Open_Form_Modal(data) {
            if (data == null) {
                $("#ID_Usuario").val(0);
                $("#Nombre_Usuario").val("");
                $("#Apellido_Usuario").val("");
                $("#E_Mail_Usuario").val("");
                $("#Rol_Usuario").val(0);
                $("#Imagen_Usuario").val("");
            } else {
                if (data != null) {
                    $("#ID_Usuario").val(data.iD_Usuario);
                    $("#Nombre_Usuario").val(data.nombre_Usuario);
                    $("#Apellido_Usuario").val(data.apellido_Usuario);
                    $("#E_Mail_Usuario").val(data.e_Mail_Usuario);
                    $("#Rol_Usuario").val(
                        data.object_ID_Tipo_Usuario.nombre_Tipo_Usuario == "Administrador"
                            ? "Administrador"
                            : "Empleado"
                    );
                    $("#Imagen_Usuario").val(data.imagen_Usuario);
                }
            }
            $("#Form_Modal").modal("show");
        }

        function Selected_Row_Function(data) {
            // ? Obtener la Fila Actual
            var Selected_Row = $(data).parents("tr");
            // ? Compruebe si la Fila Actual es una Fila Secundaria
            if (Selected_Row.hasClass("child")) {
                // ? Si es así, Señale la Fila Anterior (It's "parent")
                Selected_Row = Selected_Row.prev();
            }
            return Selected_Row;
        }

        $("#Table_Usuario").on("click", ".Edit_Button", function () {
            Selected_Row = Selected_Row_Function(this);
            var data = Table_Usuario.row(Selected_Row).data();
            // console.log(data); // ? Good 'console.log'
            Open_Form_Modal(data);
        });

        $("#Table_Usuario").on("click", ".Delete_Button", function () {
            Selected_Row = Selected_Row_Function(this);
            var data = Table_Usuario.row(Selected_Row).data();
            Swal.fire({
                title: "Confirmación",
                text: "¿Desea Eliminar al Usuario Seleccionado?",
                icon: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                cancelButtonColor: "#FF0000",
                confirmButtonText: "Eliminar",
                confirmButtonColor: "#3085D6",
            }).then((result) => {
                if (result.isConfirmed) {
                    jQuery.ajax({
                        url: "https://localhost:7050/Staff/Staff_Controller_Usuario_Eliminar",
                        type: "DELETE",
                        data: { ID_Usuario: data.iD_Usuario },
                        success: function (data) {
                            // debugger; // TODO: Punto de Depuración

                            if (data.result) {
                                Swal.fire({
                                    title: "Correcto",
                                    text: "El Usuario ha sido Eliminado",
                                    icon: "success",
                                });
                                Table_Usuario.row(Selected_Row).remove().draw();
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: data.message,
                                    icon: "error",
                                });
                            }
                        },
                        error: function (error) {
                            alert(error);
                        },
                    });
                }
            });
            // console.log(data); // ? Good 'console.log'
        });

        function Procesar() {
            var Selected_Image = $("#Imagen_Usuario_Input")[0].files[0];

            var Usuario = {
                iD_Usuario: $("#ID_Usuario").val(),
                nombre_Usuario: $("#Nombre_Usuario").val(),
                apellido_Usuario: $("#Apellido_Usuario").val(),
                e_Mail_Usuario: $("#E_Mail_Usuario").val(),
                object_ID_Tipo_Usuario: {
                    id_Tipo_Usuario: $("#Rol_Usuario").val() == "Administrador" ? 1 : 2,
                    nombre_Tipo_Usuario: $("#Rol_Usuario").val(),
                },
                imagen_Usuario: $("#Imagen_Usuario").val(),
            };

            if ($("#ID_Usuario").val() == 0) {
                var Request = new FormData();
                Request.append("Obj_Class_Entity_Usuario", JSON.stringify(Usuario));
                Request.append("Obj_IFormFile", Selected_Image);

                jQuery.ajax({
                    url: "https://localhost:7050/Staff/Staff_Controller_Usuario_Registrar",
                    type: "POST",
                    data: Request,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        debugger; // TODO: Punto de Depuración

                        $(".modal-body").LoadingOverlay("hide");

                        if (data.iD_Auto_Generated != 0) {
                            Usuario.iD_Usuario = data.iD_Auto_Generated;
                            Table_Usuario.row.add(Usuario).draw(false);
                            $("#Form_Modal").modal("hide");
                            window.location.reload(); // ?
                        } else {
                            toastr.options = {
                                closeButton: true,
                                debug: false,
                                newestOnTop: true,
                                progressBar: true,
                                positionClass: "toast-bottom-center",
                                preventDuplicates: true,
                                onclick: null,
                                showDuration: "300",
                                hideDuration: "1000",
                                timeOut: "5000",
                                extendedTimeOut: "1000",
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut",
                            };
                            toastr["warning"](data.message, "Advertencia:");
                        }
                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        alert(error);
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            background: "rgba(0, 0, 0, 0.5)",
                            image: "../img/clock-regular.svg",
                            imageAnimation: "1.5s fadein",
                            imageAutoResize: true,
                            imageResizeFactor: 1,
                            imageColor: "rgb(255, 205, 0)",
                        });
                    },
                });
            } else {
                if ($("#ID_Usuario").val() != 0) {
                    var Request = new FormData();
                    Request.append("Obj_Class_Entity_Usuario", JSON.stringify(Usuario));
                    Request.append("Obj_IFormFile", Selected_Image);

                    jQuery.ajax({
                        url: "https://localhost:7050/Staff/Staff_Controller_Usuario_Editar",
                        type: "PUT",
                        data: Request,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            // debugger; // TODO: Punto de Depuración

                            $(".modal-body").LoadingOverlay("hide");

                            if (data.successful_operation) {
                                Table_Usuario.row(Selected_Row).data(Usuario).draw(false);
                                Selected_Row = null;
                                $("#Form_Modal").modal("hide");
                            } else {
                                toastr.options = {
                                    closeButton: true,
                                    debug: false,
                                    newestOnTop: true,
                                    progressBar: true,
                                    positionClass: "toast-bottom-center",
                                    preventDuplicates: true,
                                    onclick: null,
                                    showDuration: "300",
                                    hideDuration: "1000",
                                    timeOut: "5000",
                                    extendedTimeOut: "1000",
                                    showEasing: "swing",
                                    hideEasing: "linear",
                                    showMethod: "fadeIn",
                                    hideMethod: "fadeOut",
                                };
                                toastr["warning"](data.message, "Advertencia:");
                            }
                        },
                        error: function (error) {
                            $(".modal-body").LoadingOverlay("hide");
                            alert(error);
                        },
                        beforeSend: function () {
                            $(".modal-body").LoadingOverlay("show", {
                                background: "rgba(0, 0, 0, 0.5)",
                                image: "../img/clock-regular.svg",
                                imageAnimation: "1.5s fadein",
                                imageAutoResize: true,
                                imageResizeFactor: 1,
                                imageColor: "rgb(255, 205, 0)",
                            });
                        },
                    });
                }
            }
        }
    </script>
    @* <script src="~/js/User.js" asp-append-version="true"></script> *@
}