@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reportes</li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<div class="Master_Div d-flex flex-row justify-content-center m-3">
    <div class="col-md-12 d-flex flex-column align-items-center gap-3">
        <label class="fs-1 fw-bold">Bienvenido/a, Administrador/a!</label>
        <img class="img-fluid" src="https://miro.medium.com/v2/resize:fit:640/1*oHO1q89fxLEmS-OJ9cduuA.png"
            alt="Image_Error" style="width: 600px; height: 350px;">
        <p>Con el Apollo de: <a
                href="https://papajohns.com.pe/?gad_source=1&gclid=Cj0KCQjwi5q3BhCiARIsAJCfuZmn04fRNsjCHv-nVK5tTLMAXadFh85Ek_L3E0mCclxhWql1qvlO-M8aAmsiEALw_wcB">Papa
                John's Pizza</a>.</p>
    </div>
</div>