@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6>N° Transacciones</h6>
                                <h6 id="Value_01">0</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa-solid fa-boxes-packing fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6>N° Categorías</h6>
                                <h6 id="Value_02">0</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa-solid fa-table fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6>N° Proveedores</h6>
                                <h6 id="Value_03">0</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa-solid fa-book-bookmark fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6>N° Insumos</h6>
                                <h6 id="Value_04">0</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa-solid fa-boxes-stacked fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-tablet"></i>
                Historial de Transacciones
            </div>
            <div class="card-body">
                <form>
                    <div class="row align-items-end">
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label class="form-label">Fecha Inicial:</label>
                                <input class="form-control" type="text" id="Initial_Date" name="Initial_Date">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label class="form-label">Fecha Final:</label>
                                <input class="form-control" type="text" id="Final_Date" name="Final_Date">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label class="form-label">ID Transacción:</label>
                                <input class="form-control" type="text" id="ID_Transaction" name="ID_Transaction">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" id="Search_Button" type="button"><i
                                        class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-success" type="submit"><i class="fa-solid fa-file-excel"></i>
                                    Exportar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="Table" clas="display cell-border" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Empleado</th>
                                    <th>Insumo</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Java_Script {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"
        asp-append-version="true"></script>
    <script src="~/js/chart-area-demo.js" asp-append-version="true"></script>
    <script src="~/js/chart-bar-demo.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous" asp-append-version="true"></script>
    <script src="~/js/datatables-simple-demo.js" asp-append-version="true"></script>
}